@import "mixins";
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

@import "_nullstyle";
/*----------Конец файла обнуляющих стилей-----------*/

.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	font-family: "Open Sans";
}

.container {
	width: 100%;
	max-width: 1130px;
	margin: 0px auto;
	padding: 0px 15px;
}

.page {
	@include flexbox();
	flex-direction: column;
	position: relative;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	margin: 0px auto;
}

@import "_header";
@import "_main";
@import "_footer";
